.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Custom styles for the tabs */
.custom-tab {
  border-color: #dc3545 !important;
}

.custom-tab .nav-link {
  color: white !important;
}

.custom-tab .nav-link.active {
  color: white !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
